.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: rgba(71, 51, 146, 0.315);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
}

.app__navbar-logo {
  color: #00f7ff;
  font-weight: bold;
}

.app__navbar-links {
  display: flex;
  justify-content: left;
  align-items: center;
  li {
    margin: 0 0.5rem;
    cursor: pointer;
    a {
      color: #fff;
      font-weight: 500;
      transition: all 0.3 ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }
  }
}
